<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head">
        <!-- Title -->
        <title>Sign Up Successfully</title>
    </head>
<body>
   <!-- ##### Preloader ##### -->
   <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="img/core-img/compact-disc.png" alt="">
        </div>
    </div>
    <header th:replace="layout :: site-header"></header>
    
    <hr>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url(img/bg-img/breadcumb5.jpg);">
        <div class="bradcumbContent">   
            <h2>SignUp Failed</h2>
            <br>
            <br>
            <br>
            <h3>This email/username has already been registered, please user other email.</h3>
            <br>
            <br>
            <a href="/signup" class="btn musica-btn">register another account</a>
            <br>
            <br>
            <a href="/signin" class="btn musica-btn">sign in with existing account</a>
        </div>
    </div>

    <hr>
<div class="container">
        <footer th:replace="layout :: site-footer"></footer>
</div>
<hr>
        <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>

</body>
</html>