<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.ico" th:href="@{/img/core-img/favicon.ico}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/style.css}">
</head>

<body>
    <div th:fragment="single-event-html" th:each="event : ${events}" class="single-upcoming-shows d-flex align-items-center flex-wrap">
        <div class="shows-date">
            <h2><div th:class="'etms-event-date' + ${event.eventID}"></div> <span><div th:class="'etms-event-month' + ${event.eventID}"></div></span></h2>
        </div>
        <div class="shows-desc d-flex align-items-center">
            <div class="shows-img">
                <img th:src="${event.imgUrl}" alt="">
            </div>
            <div class="shows-name">
                <h6 th:text="${event.eventName}"></h6>
                <p></p>
            </div>
        </div>
        <div class="shows-location">
            <p  th:text="${event.location}" />
        </div>
        <div class="shows-time">
            <p th:class="'etms-event-day' + ${event.eventID}"></p>
            <p th:class="'etms-event-time' + ${event.eventID}"></p>
        </div>
        <div class="buy-tickets">
            <form th:action="@{/buyTickets}" method="POST">
                <input type="hidden" name="eventID" th:value="${event.eventID}" />
                <a href="#" class="btn musica-btn" onclick="$(this).closest('form').submit()">Buy Tickets</a>
            </form>
        </div>
    </div>

    <script th:fragment="single-event-js" th:inline="javascript">
        const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        const months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
    
        /*<![CDATA[*/
            /*[# th:each="event : ${events}"]*/
                var date = new Date(/*[[${event.date}]]*/);
                $(/*[['.etms-event-date' + ${event.eventID}]]*/).text(date.getDate());
                $(/*[['.etms-event-month' + ${event.eventID}]]*/).text(months[date.getMonth()].slice(0, 3));
                $(/*[['.etms-event-day' + ${event.eventID}]]*/).text(days[date.getDay()].slice(0, 3));
                $(/*[['.etms-event-time' + ${event.eventID}]]*/).text(date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2));
                
                $(/*[['.etms-event-name' + ${event.eventID}]]*/).text(/*[[${event.eventName}]]*/);
                $(/*[['.etms-event-location' + ${event.eventID}]]*/).text(/*[[${event.location}]]*/);
                $(/*[['.etms-event-image' + ${event.eventID}]]*/).attr("src", /*[[${event.imgUrl}]]*/);
                $(/*[['.etms-event-price' + ${event.eventID}]]*/).text(/*[[${event.price}]]*/);
            /*[/]*/
        /*]]>*/
    </script>
</body>
</html>